/Src/.vs/

/Src/FlyEduDownloader.suo

/Src/FlyEduDownloader-bin/

/Src/FlyEduDownloader/bin/

/Src/FlyEduDownloader/apis/

/Src/FlyEduDownloader/prebuild/setbuildc.bat

/Src/FlyEduDownloader/setupbin/

/Src/FlyEduDownloader/obj/

/Src/FlyEduDownloader/libs/miniblink/x64/miniblink.dll

/Src/FlyEduDownloader/libs/miniblink/x86/miniblink.dll